In [1]:
import pandas as pd

In [2]:
from sklearn import linear_model

In [3]:
df=pd.read_csv("exercise2_set.csv")

In [4]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
df.columns=['experience','test_score','interview_score','salary']

In [6]:
df.columns

Index(['experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [7]:
import math

In [28]:
median_test_score=math.floor(df.test_score.mean())

In [29]:
median_test_score

7

In [30]:
df.test_score=df.test_score.fillna(median_test_score)

In [31]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [32]:
df.experience=df.experience.fillna("zero")

In [33]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [34]:
pip install word2number

Requirement already satisfied: word2number in c:\users\pritom\pycharmprojects\mlbasic\venv\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\Pritom\PycharmProjects\MLBasic\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [38]:
from word2number import w2n

In [39]:
w2n.word_to_num("zero")

0

In [40]:
experience_list=[w2n.word_to_num(i) for i in df.experience]

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

In [41]:
experience_list

[0, 0, 5, 2, 7, 3, 10, 11]

In [42]:
df.experience = experience_list

In [21]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [22]:
reg=linear_model.LinearRegression()

In [43]:
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [44]:
reg.predict([[2,9,6]])

C:\Users\Pritom\PycharmProjects\MLBasic\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [45]:
reg.predict([[12,10,10]])

C:\Users\Pritom\PycharmProjects\MLBasic\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])