In [1]:
%train and split%

UsageError: Line magic function `%train` not found.

In [2]:
#train_and_split

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("carprices.csv")

In [5]:
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [7]:
df["Age(yrs)"]

0     6
1     3
2     5
3     2
4     4
5     5
6     5
7     6
8     8
9     6
10    7
11    7
12    5
13    4
14    7
15    3
16    2
17    5
18    8
19    5
Name: Age(yrs), dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [11]:
x=df[['Mileage','Age(yrs)']]
y=df['Sell Price($)']

In [12]:
x
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [13]:
x

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
5     59000         5
6     52000         5
7     72000         6
8     91000         8
9     67000         6
10    83000         7
11    79000         7
12    59000         5
13    58780         4
14    82450         7
15    25400         3
16    28000         2
17    69000         5
18    87600         8
19    52000         5

In [14]:
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [15]:
xtrain, xtest, ytrain, ytest =train_test_split(x,y,test_size=0.2)

In [16]:
len(xtrain)

16

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
clf=LinearRegression()

In [20]:
clf.fit(xtrain,ytrain)

LinearRegression()

In [21]:
clf.predict(xtest)

array([22709.88061376, 34455.75194104, 17094.92110295, 14757.32874954])

In [22]:
ytest

17    19700
1     34000
14    19400
18    12800
Name: Sell Price($), dtype: int64

In [23]:
clf.score(xtest,ytest)

0.9231528535660989